<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="center hero-unit">
<h1>Welcome to the Paradoxe</h1>
<h2>
This is the home page for the
<a href="http://iluminationtheory.myshopify.com/">IlluminationTheory Seller</a>
sample application.
</h2>
<%= link_to "Sign up now!", 'new_user_path', class: "btn btn-large btn-primary" %>
</div>

